/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mochiy Pop One', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root{
  --main-color:#ff702a;
  --text-color:#fff;
  --bg-color:#1e1c2a;
  --big-font:5rem;
  --h2-font:2.25rem;
  --p-font:0.9rem;
}

::selection{
  background: var(--main-color);
  color: #fff;
}

body {
  scroll-behavior: smooth;
  color: var(--text-color);
  background: var(--bg-color);
  overflow-x: hidden;
}

/* Header */

header {
	z-index: 1;
	display: block;
	background-color: black;
	position: sticky;
	top: 0;
}
  
  header h1 {
	font-size: 34px;
	margin-bottom: 50px;
	color: orangered;
	left: 15%;
	margin-top: 40px;
	position: fixed;
}
  
  header img {
	width: 120px;
	border-radius: 50%;
  }
  
  .logo {
	margin: 10px;
}

/* Navigation */

nav {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	padding: 10px 50px;
}
  
  nav a {
	padding: 10px 125px;
	text-align: center;
	position: sticky;
	margin: 10px;
	font-size: 10px;
	color: black;
	background: orangered;
	border-radius: 40px;
	text-decoration: none;
}

  nav a.active {
	background-color: wheat;
}

footer {
  bottom: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  color: var(--main-color);
}

footer i {
  color: var(--main-color);
  font-size: 40px;
  margin-right: 30px;
}

footer span {
  text-align: center;
  font-size: 12px;
}

/* pizza img */

.pizza1-img img, .pizza2-img img, .pizza3-img img, .pizza4-img img, .pizza5-img img, .pizza6-img img {
  animation: rotate 30s linear infinite;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

 /* Add this keyframes rule */
 @keyframes rotate {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

/* Flexbox layout for pizza-image section */

/* Border for the details below the image */
.pizza-details {
  text-align: center;
  margin: 20px 0;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid wheat;
  border-radius: 40px;
  padding: 20px;
}

.pizza-details h2 {
  font-weight: bold;
  margin-bottom: 10px;
  color: orangered;
}

.pizza-container h3 {
  color: var(--bg-color);
}

.pizza-details p {
  color: #000;
  font-weight: bold;
  font-size: 12px;
  margin: 5px;
}

.order-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Flexbox layout for drink-image section */
.drink-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Border for the details below the image */
.drink-details {
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

article img {
  border-radius: 100%;
}

/* Style for the pizza category */

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: sticky;
  top: 0;
}

.menu-container ul li a {
  display: block;
  padding: 8px;
  color: orangered;
}

.catText {
  margin-top: 40px;
  text-align: center;
  font-size: 18;
  color: orangered;
}

.pizza-category {
  top: 210px;
  position: sticky;
  width: 45%;
  margin: 20px;
  margin-top: 40px;
  border-radius: 40px;
  border: 1px solid wheat;
  padding: 16px;
  margin-bottom: 50px;
}

.pizza-category h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pizza-category i {
  color: wheat;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pizza-category ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pizza-category li {
  margin-right: 30px;
  font-size: small;
  margin-left: 20px;
}

.pizza-category a {
  color: var(--main-color);
  text-decoration: none;
}

.pizza-category a:hover {
  color: white;
}

button {
  background: orangered;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  max-height: 10%;
  max-width: 50%;
}

button:hover {
  background-color: red;
  color: white;
}

.pizza-info {
  border: 1px solid wheat;
  border-radius: 40px;
  width: 95%;
  height: 50%;
  margin-top: 45px;
  margin-right: 200px;
  padding: 20px;
  position: sticky;
  top: 300px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px;
  margin-top: 0;
  padding: 20px;
  background-color: white;
  border-radius: 20px;  
}

.pizza-info h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
}

/* Scroll-to-top Button */
.scroll-to-top {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  font-size: 11px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
}

/* Adjusted margins for pizza details and add-ons */

.pizza-addons {
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pizza-addons h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.pizza-addon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.pizza-addon-list li {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.pizza-addon-list label {
  display: block;
  margin-bottom: 5px;
}

.pizza-addon-list input[type="checkbox"] {
  margin-right: 5px;
  }
  
  .order-form label {
    margin: 5px 0;
  }
  
  .order-form input {
    max-width: 90px;
    margin: 10px 5px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
  }

  .order-form {
    position: sticky;
    top: 200px;
    margin: 20px;
  }
  
  .order-form button {
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
  }

  .order-form button:hover {
    background-color: red;
    color: white;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  li input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 1.2em;
  color: green;
  margin-right: 5px;
  }

  /* New layout for pizza section */

.pizza-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza-card {
  width: 400px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .pizza-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  }
  
  .pizza-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .pizza-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  }
  
  .pizza-card p {
  margin-bottom: 10px;
  }
  
  .pizza-card button {
  margin-top: 10px;
  }
  
  /* New layout for drink section */
  
  .drinks-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .drink-card {
  background-color: white;
  margin: 20px;
  border-radius: 40px;
  }
  
  .drink-card img {
  width: 100px;
  height: 210px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  }
  
  .drink-card-content {
  padding: 20px;
  }
  
  .drink-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  }
  
  .drink-card p {
  margin-bottom: 10px;
  }
  
  .drink-card button {
  margin-top: 10px;
  }
  
/* Media Queries */

@media screen and (max-width: 1100px) {
  nav a {
  padding: 10px 70px;
  }
  .pizza-section {
    flex-direction: column;
    align-items: center;
}

.drink-section {
    flex-direction: column;
    align-items: center;
}

.pizza-card,
.drink-card {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  header h1 {
  font-size: 3.5rem;
  }
  nav a {
    padding: 10px 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.pizza-section,
.drinks-section {
    flex-direction: column;
    align-items: center;
}

.pizza-card,
.drink-card {
    width: 90%;
}

.pizza-img img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
  font-size: 4rem;
  }
  .pizza-card,
  .drink-card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .pizzaImg {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.pizza-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.pizza-container > * {
  flex-basis: calc(50% - 20px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  }
  
  main {
  animation: fadeIn 2s ease-in-out;
  }
  